body {
  font-family: "Poppins", sans-serif;
  background-color: white;
}

.menubar {
  background-color: rgb(48, 48, 224);
  display: flex;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  list-style: none;
  margin-right: 20px;
  padding: 0px 10px;
  text-decoration: none;
  color: white;
}

nav li a {
  text-decoration: none;
  font-size: 15px;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 140px 10px;
  flex-direction: row;
  margin-left: 60px;
  margin-top: 40px;
}

button {
  background-color: #e02c6d;
  color: white;
  padding: 10px, 24px, 10px, 24px;
  width: 123px;
  height: 44px;
  left: 1037px;
}

.login {
  margin-left: 200px;
}

/* first part style */

.first-part {
  background-color: rgb(48, 48, 224);
}
.banner {
  display: flex;
  margin-left: 100px;
}

.banner .thumbnail img {
  width: 450px;
  height: 338px;
  padding-left: 150px;
  padding-top: 100px;
}

.banner-title {
  font-weight: bold;
  font-size: 40px;
  color: white;
}

.watchlive {
  background: #e02c6d;
  padding: 10px 24px;
  text-decoration: none;
  color: white;
  font-size: 16px;
}

/* middle part style */

.player-photo img {
  height: 270px;
  width: 320px;
}

.all-players {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.player-details {
  font-size: 10px;
}

.players-football {
  background-color: rgb(108, 177, 235);
  border-radius: 5px;

  margin: 30px 30px 30px 30px;
  padding-left: 10px;
  padding-top: 10px;
  padding-left: 10px;
  align-items: center;
}

/* last part style  */

.lastpart-title {
  color: #0a0826;
}

.lastpart-thumbnail img {
  height: 350px;
  width: 450px;
  padding-left: 200px;
  padding-top: 10px;
}

.lastpart-title {
  color: #0a0826;
  font-weight: bold;
  font-size: x-large;
}

.description {
  font-size: small;
  color: #0a0826;
}

/* footer style */

footer img {
  width: 400px;
  height: 90px;
  padding-left: 400px;
  padding-top: 200px;
}

.socialmedia-icon {
  padding-left: 600px;
}

.copyright {
  padding-left: 540px;
}

/* media queries */

/* mobile devices */

@media only screen and (max-width: 688px) {
  container {
    width: 100%;
  }
  .first-part {
    grid-template-columns: repeat(1, 1fr);
  }
  .first-part-banner {
    flex-direction: column;
  }
}
